<div class="ibox">
  <div class="ibox-title">
    <h5>添加单位</h5>
  </div>
  <div class="ibox-content">
    <form class="form-horizontal" novalidate>
      <div class="form-group">
        <label class="col-md-3 control-label" for="name">招生单位名称</label>
        <div class="col-md-9">
          <input type="text" required ng-model="vm.create.name" class="form-control" id="name" placeholder="请输入招生单位名称">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="contact">联系人</label>
        <div class="col-md-9">
          <input type="text" required ng-model="vm.create.contact" class="form-control" id="contact" placeholder="请输入联系人">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="mobile">联系电话</label>
        <div class="col-md-9">
          <input type="tel" required ng-model="vm.create.mobile" class="form-control" id="mobile" placeholder="请输入联系电话">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-primary m-b" ng-click="vm.save()">保存</button>
        </div>
      </div>
      </form>
  </div>
</div>


